@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
    --primary: rgb(254, 44, 85);
    --text-color: #333;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body {
    font-family: 'Roboto';
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text-color);
}

body .tippy-box {
    background-color: #ff0000;
}

.default {
    height: 60px;
}

// input,
// button {
//     outline: none;
//     border: none;
// }

a[href] {
    color: var(--text-color);
}
